* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Pixelify Sans", sans-serif;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: darkslateblue;
	overflow: hidden;
}

img {
	height: 100%;
	width: 100%;
	aspect-ratio: auto;

	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

.hidden {
	display: none !important;
}

.split {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: start;
	align-items: center;
}

.split > * {
	flex: 1;
	max-height: 100%;
}

#icons {
	position: absolute;
	height: 10vh;
	right: 0;
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1vh;
	padding: 1vh 1vh 2vh 3vh;

	background-color: blueviolet;
	border: 3px rgb(103, 32, 170) solid;
	border-bottom-left-radius: 10px;
	box-shadow: inset 10px -10px 10px 0px rgb(84, 26, 139);
}

#icons a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}

#landscape {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	filter: blur(1.5px);
}

.character {
	height: 70vh;
	position: absolute;
	bottom: 10vh;
	border-radius: 10px 10px 0px 0px;
}

.character img {
	max-width: 100%;
	max-height: 100%;
}

#character_left {
	left: 3vw;
}

#character_right {
	right: 3vw;
}

.character.speaking {
	animation: speaking 2s ease-in-out infinite;
}

@keyframes speaking {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}

#textbox {
	position: absolute;
	width: 90vw;
	height: 35vh;
	bottom: 0px;
	left: 50%;
	border-radius: 10px 10px 0px 0px;
	background: linear-gradient(0deg, #6e7988 0%, #f7f7f7ee 55%, #ffffffaf);
	transform: translateX(-50%);
	padding: 20px;
}

#textbox p > span {
	margin-right: 10px;
	font-size: 25px;
}

#textbox p#speaking_name {
	font-size: 25px;
	position: absolute;
	transform: translateY(-50%);
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	top: 0px;
	left: 0px;
}

#textbox p {
	font-size: 30px;
	line-height: 35px;
}

#textbox > #answers {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#textbox a.answer {
	border: solid #c64083 1px;
	background-color: #f04c9e;
	border-radius: 5px;
	padding: 3px;
	cursor: grab;
}

#textbox #arrow_next {
	position: absolute;
	right: 0;
	bottom: 0;
	aspect-ratio: auto;
	width: 50px;
}

.overlay_background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #000c;

	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay_box {
	width: 80vw;
	max-height: 80vh;
	background-color: rgb(171, 88, 28);
	border: rgb(76, 38, 10) solid 5px;
	border-radius: 15px;
	position: relative;
	padding: 20px;
}

.overlay_inner {
	width: 100%;
	height: 100%;
}

#inventory_overlay .close_button {
	width: 10%;
	height: fit-content;
	aspect-ratio: 1/1;
	position: absolute;
	top: 10px;
	right: 10px;
}

#inventory_overlay .left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	gap: 10px;
}

#inventory_overlay #inventoryItemList {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	padding: 10px 10px;
}

#inventory_overlay #inventoryItemList .item {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fff;
	border-radius: 10px;
	aspect-ratio: 1/1;
	border-radius: 5px;
	padding: 5px;
	margin: 7%;

	background: rgb(171, 88, 28);
	border: rgb(76, 38, 10) solid 5px;
	box-shadow: inset 4px -4px 5px 0px rgb(76, 38, 10),
		4px -4px 5px 0px rgb(76, 38, 10);
}

#inventory_overlay .arrows {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

#inventory_overlay .arrows .disabled {
	opacity: 0.5;
}

#inventory_overlay .arrows .left {
	transform: rotate(180deg);
}

#inventory_overlay #itemDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#inventory_overlay #itemDetails .itemdescription {
	overflow: scroll;
}

#inventory_overlay #itemDetails .itemImg {
	width: 50%;
	aspect-ratio: 1/1;
}
